version: 2
dry:
  restore_shards_cache: &restore_shards_cache
    # Use {{ checksum "shard.yml" }} if developing a shard instead of an app
    keys:
      - shards-cache-v1-{{ .Branch }}-{{ checksum "shard.lock" }}
      - shards-cache-v1-{{ .Branch }}
      - shards-cache-v1

  save_shards_cache: &save_shards_cache
    # Use {{ checksum "shard.yml" }} if developing a shard instead of an app
    key: shards-cache-v1-{{ .Branch }}-{{ checksum "shard.lock" }}
    paths:
      - shards-cache

  restore_bundle_cache: &restore_bundle_cache
    keys:
      - bundle-cache-v2-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      - bundle-cache-v2-{{ .Branch }}
      - bundle-cache-v2

  save_bundle_cache: &save_bundle_cache
    key: bundle-cache-v2-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
    paths:
      - vendor/bundle

jobs:
  golang:
    working_directory: /go/src/github.com/miry/samples/
    docker:
      - image: circleci/golang:1.11.5
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS/{algorithms,btree,codinggame,gohttproxy,justforfunc}
      - run: go get -u github.com/jstemmer/go-junit-report
      - run: go get -v -t -d ./...
      - run: go test ./algorithms/... -v |& go-junit-report > $TEST_RESULTS/algorithms/report.xml
      - run: go test ./gohttproxy/... -v |& go-junit-report > $TEST_RESULTS/gohttproxy/report.xml
      - run: go test ./justforfunc/... -v |& go-junit-report > $TEST_RESULTS/justforfunc/report.xml
      - run: go test -bench=. ./benchmarks/... -v
      - store_test_results:
          path: /tmp/test-results

  ruby:
    docker:
      - image: circleci/ruby:2.6.1
        environment:
          RUBYOPT: "--enable-frozen-string-literal --jit"

    steps:
      - checkout

      - restore_cache: *restore_bundle_cache
      - run: bundle install --path vendor/bundle
      - save_cache: *save_bundle_cache

      - run:
          command: bundle exec rubocop -c .rubocop.yml -L
          background: true
      - run: ruby algorithms/problems/codewars/sudoku_test.rb
      - run: ruby algorithms/problems/interviewcake/reverse_words_test.rb

  crystal:
    # https://crystal-lang.org/2018/09/04/using-circleci-2.0-for-your-crystal-projects.html
    docker:
      - image: crystallang/crystal:latest
    steps:
      - run: crystal --version
      - checkout

      - restore_cache: *restore_shards_cache
      - run: shards install
      - save_cache: *save_shards_cache

      - run: crystal run algorithms/list/node_test.cr -- --verbose

  distribusion:
    working_directory: ~/samples/distribusion
    docker:
      - image: circleci/ruby:2.6.1
        environment:
          RUBYOPT: "--enable-frozen-string-literal"
    steps:
      - checkout:
          path: ~/samples
      - restore_cache: *restore_bundle_cache
      - run: bundle install --path vendor/bundle
      - save_cache: *save_bundle_cache

      - run: bundle exec rubocop -P -c .rubocop.yml
      - run: bundle exec rake test
      - run: bundle exec ruby --enable-frozen-string-literal ./bin/local -v -s all -p $DISTRIBUSION_PASSPHRASE | sed s/"${DISTRIBUSION_PASSPHRASE}"/xxx/g

      - store_artifacts:
          path: coverage
  godnsproxy:
    working_directory: /go/src/github.com/miry/samples
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test ./godnsproxy/... -v -race
      - run: go test ./godnsproxy/... -v -bench=.

workflows:
  version: 2
  distribusion:
    jobs:
      - distribusion
  tests:
    jobs:
      - golang
      - ruby
      - crystal
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - distribusion
      - golang
      - ruby
      - crystal
